@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Headers Starts  */
header {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}
h1 {
    background-color: rgba(17, 17, 255, 0.616);
    font-family: cursive;
    color: aliceblue ;
    text-align: center;
    width: 100%;
    padding: 10px;
}
header .navbar nav ul {
    font-family: cursive;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}
header .navbar nav ul li {
    list-style: none;
}
header .navbar nav ul li a {
    padding: 3px 10vw;
    color: #000;
    text-decoration: none;
}
header .navbar nav ul li a:hover, header .navbar nav ul li a:focus {
    background-color: #000;
    color: #FFF;
    border-radius: 4px;
}
/* Header Ends  */

/* Card Starts  */
main {
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: calc(100vh - 95px);
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    min-height: 400px;
    background-color: rgb(255, 125, 125);
    border: 2px solid rgb(255, 255, 255);
    margin: 10px auto;
    border-radius: 15px;
}
.card img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 20px auto 0px;
    border: 5px double rgb(255, 255, 255);
    border-radius: 80%;
}
.card p {
    text-align: center;
    line-height: 2;
}
.name {
    font-size: x-large;
    font-family: cursive;
}
.quote {
    font-size: large;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    font-weight: 700;
}
/* Card Ends  */

/* Footer Starts  */
footer {
    background-color: rgba(17, 17, 255, 0.616);
    font-family: cursive;
    color: aliceblue ;
    text-align: center;
    width: 100%;
    padding: 10px;
}
/* Footer Ends  */

/* Rsponsiveness */
@media screen and (min-width: 900px) {
    header .navbar {
        display: none;
    }
}